@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.josefin-sans{
  font-family: "Josefin Sans", sans-serif;
}
html,body{
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}